 <section class="jumbotron text-center">
    <div class="container">
      <h1>Welcome To The Clyde Lazenby Store</h1>
      <p class="lead text-muted">I Have Lots Of Good Things To Show You</p>
      <p>Follow us on social media</p>
        <a href="http://www.facebook.com" class="btn btn-primary my-2">Facebook</a>
        <a href="http://www.instagram.com" class="btn btn-primary my-2">Instagram</a>
      </p>
    </div>
  </section>
