<div class="bg-top">
         <header class="header" id="header">
            <div class="container">
               <div class="header__text">
               		<div class="left-column">
						<h4 data-aos="fade-up" class="aos-init aos-animate">welcome to</h4>
						<img data-aos="fade-up" data-sr="enter bottom" src="images/logo-top.png" alt="" class="logo aos-init">
					  <h2>
					  	Fastest &amp; Most Customizable <strong>Shopify Theme</strong><span></span></h2>
					  <p data-aos="fade-up" class="aos-init">AYO Store is evaluated as my most unique Multi-Concept eCommerce Shopify Theme<br>
for shop online with clean and modern design. </p>
						<div class="header__text_bottom aos-init" data-aos="fade-in">
						<a href="https://themeforest.net/item/ayo-multipurpose-responsive-shopify-theme/27034986" target="_blank">Purchase theme $39</a>
						</div>
					</div>
               </div>
            </div>
         </header>
         		</div>